.App {
  text-align: center;

}
.container{
  margin-top: 50px;
  padding-top: 10px;
  border: 1.5px solid gray;
  box-shadow: 5px 5px #383838;
  border-radius: 15px;
  background-color: white;
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
